<div
  class="comment pt-4 pb-0 pl-4 pr-0 ml-1 border-l-2 border-solid border-slate-100"
>
  {{#with data}}
    <div class="meta flex flex-row justify-center">
      <span class="user font-bold">{{ creatorName }}</span>
      <span class="published font-light italic px-4">{{ relativeTime published }} </span>
      {{>votes total=countsScore up=countsUpvotes down=countsDownvotes}}
      <span class="grow"></span>
      <span class="toggle-body cursor-pointer">
        {{>icons/chevronUp classes="collapse-body"}}
        {{>icons/chevronDown classes="expand-body hidden"}}
      </span>
    </div>
    <div class="body">
      <div class="content">
        {{{ content }}}
      </div>
      <div class="children">
        {{#each children}}
          {{>comment data=this}}
        {{/each}}
      </div>
    </div>
  {{/with}}
</div>